GestaoMensalidades.API/.vs/GestaoMensalidades.API/v17/.suo
GestaoMensalidades.API/.vs/GestaoMensalidades.API/FileContentIndex/dfacac49-94e9-4f9b-892f-0b03b22e7b0a.vsidx
GestaoMensalidades.API/.vs/GestaoMensalidades.API/FileContentIndex/ccb073e4-b1a3-478c-843b-941f9ed14017.vsidx
GestaoMensalidades.API/.vs/GestaoMensalidades.API/FileContentIndex/c9eaf3bc-d5ba-4398-bd16-5f4ea453482b.vsidx
GestaoMensalidades.API/.vs/GestaoMensalidades.API/FileContentIndex/942964e7-0e20-4a71-ad6c-6c3fcc2cbc96.vsidx
GestaoMensalidades.API/.vs/GestaoMensalidades.API/FileContentIndex/60ce50d4-8c80-4460-9716-4bc8f8d8a2a8.vsidx
GestaoMensalidades.API/.vs/GestaoMensalidades.API/DesignTimeBuild/.dtbcache.v2
GestaoMensalidades.API/.vs/GestaoMensalidades.API/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
GestaoMensalidades.API/.vs/GestaoMensalidades.API/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
GestaoMensalidades.API/.vs/GestaoMensalidades.API/CopilotIndices/17.14.995.13737/SemanticSymbols.db
GestaoMensalidades.API/.vs/GestaoMensalidades.API/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
GestaoMensalidades.API/.vs/GestaoMensalidades.API/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
GestaoMensalidades.API/.vs/GestaoMensalidades.API/CopilotIndices/17.14.995.13737/CodeChunks.db
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/AutoMapper.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/BCrypt.Net-Next.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/FluentValidation.AspNetCore.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/FluentValidation.DependencyInjectionExtensions.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/FluentValidation.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/GestaoMensalidades.API.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/GestaoMensalidades.API.exe
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/GestaoMensalidades.API.pdb
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Humanizer.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Microsoft.OpenApi.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Mono.TextTemplating.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Npgsql.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/System.CodeDom.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/System.Composition.AttributedModel.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/System.Composition.Convention.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/System.Composition.Hosting.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/System.Composition.Runtime.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/System.Composition.TypedParts.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/AutoMapper.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/BCrypt.Net-Next.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/de/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/es/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/FluentValidation.AspNetCore.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/FluentValidation.DependencyInjectionExtensions.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/FluentValidation.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/GestaoMensalidades.API.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/GestaoMensalidades.API.exe
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/GestaoMensalidades.API.pdb
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Humanizer.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/it/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.CodeAnalysis.CSharp.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.CodeAnalysis.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Design.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.EntityFrameworkCore.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.Extensions.DependencyModel.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.IdentityModel.Abstractions.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.IdentityModel.Logging.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.IdentityModel.Protocols.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.IdentityModel.Tokens.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Microsoft.OpenApi.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Mono.TextTemplating.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Npgsql.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Swashbuckle.AspNetCore.Swagger.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/System.CodeDom.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/System.Composition.AttributedModel.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/System.Composition.Convention.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/System.Composition.Hosting.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/System.Composition.Runtime.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/System.Composition.TypedParts.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/System.IdentityModel.Tokens.Jwt.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/apphost.exe
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/GestaoMe.6D184FB6.Up2Date
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/GestaoMensalidades.API.assets.cache
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/GestaoMensalidades.API.csproj.AssemblyReference.cache
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/GestaoMensalidades.API.dll
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/GestaoMensalidades.API.MvcApplicationPartsAssemblyInfo.cache
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/GestaoMensalidades.API.pdb
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/ref/GestaoMensalidades.API.dll
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/refint/GestaoMensalidades.API.dll
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/staticwebassets.removed.txt
GestaoMensalidades.API/GestaoMensalidades.API/obj/Release/net8.0/apphost.exe
GestaoMensalidades.API/GestaoMensalidades.API/obj/Release/net8.0/GestaoMe.6D184FB6.Up2Date
GestaoMensalidades.API/GestaoMensalidades.API/obj/Release/net8.0/GestaoMensalidades.API.assets.cache
GestaoMensalidades.API/GestaoMensalidades.API/obj/Release/net8.0/GestaoMensalidades.API.csproj.AssemblyReference.cache
GestaoMensalidades.API/GestaoMensalidades.API/obj/Release/net8.0/GestaoMensalidades.API.dll
GestaoMensalidades.API/GestaoMensalidades.API/obj/Release/net8.0/GestaoMensalidades.API.MvcApplicationPartsAssemblyInfo.cache
GestaoMensalidades.API/GestaoMensalidades.API/obj/Release/net8.0/GestaoMensalidades.API.pdb
GestaoMensalidades.API/GestaoMensalidades.API/obj/Release/net8.0/ref/GestaoMensalidades.API.dll
GestaoMensalidades.API/GestaoMensalidades.API/obj/Release/net8.0/refint/GestaoMensalidades.API.dll
*.dll
/GestaoMensalidades.API
*.json
*.json
*.cache
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/GestaoMensalidades.API.AssemblyInfoInputs.cache
*.cache
*.xml
*.json
*.json
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/GestaoMensalidades.API.sourcelink.json
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/GestaoMensalidades.API.sourcelink.json
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/GestaoMensalidades.API.sourcelink.json
*.json
*.json
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug
/GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug
GestaoMensalidades.API/GestaoMensalidades.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/GestaoMensalidades.API/GestaoMensalidades.API/obj
